[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
pytest-cov = "*"
flake8 = "*"
black = "==19.10b0"
isort = "*"
pytest-xdist = "*"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
tortoise-orm = "*"
gunicorn = "*"
newspaper3k = "*"

[requires]
